<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventSource" value="DashboardComm" />
    <add key="AppId" value="DashboardComm" />

    <!-- TargetEnvironment = dev, stg, or prd -->
    <add key="TargetEnvironment" value="stg" />

    <add key="MinutesUntilWarning" value="1450" />
    <add key="MinutesUntilError" value="1500" />
  </appSettings>
</configuration>