<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- 
	You will need to provide settings in the ConnectionStrings for YOURSERVER, YOURUSER, and YOURPASSWORD. 
	You may also choose to change the name of the default database, the "initial catalog" setting from 
	"Dashboard" to something else if this conflicts with an exisitng database.
  -->
  <connectionStrings>
    <add name="DashboardEntities" connectionString="metadata=res://*/Entities.Data.csdl|res://*/Entities.Data.ssdl|res://*/Entities.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YOURSERVER;initial catalog=Dashboard;persist security info=True;user id=YOURUSER;password=YOURPASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>
